body {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.banner {
	width: 100%;
	height: auto;
}

.partner_img {
	width: inherit;
	height: auto;
}

.partner_container {
	width: 40%;
}

.parter {
	text-align: right;
}

.with_us {
	text-align: left;
}